<ion-header>
  <!-- <ion-toolbar>
    <ion-title>tutorial</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
    <ion-slides pager="true">
        <ion-slide class="step-one">
            <!-- <ion-img src="/assets/slides/step1.svg"></ion-img> -->
            <h1>With App</h1>
            <p>Text</p>
        </ion-slide>
    
        <ion-slide class="step-two">
            <!-- <ion-img src="/assets/slides/step2.svg"></ion-img> -->
            <h1>Get the QR</h1>
            <p>Text</p>
        </ion-slide>

        <ion-slide class="step-four">
            <!-- <ion-img src="/assets/slides/step2.svg"></ion-img> -->
            <h1>Get the QR</h1>
            <p>Text</p>
        </ion-slide>
    
        <ion-slide class="step-three">
            <!-- <ion-img src="/assets/slides/step3.svg"></ion-img> -->
            <h1>Scan over the counter</h1>
            <p>Text</p>
    
            <ion-button (click)="finish()">FINISH TUTORIAL!</ion-button>
        </ion-slide>
    </ion-slides>

</ion-content>
