<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="renew()">Click to be as new user!</ion-button>
</ion-content>
